.header {
    width: 100%;
    padding: 14px;
    text-align: center;
    color: #0095BA;
    border-bottom: 1px solid #0095BA;
    font-size: 36px;
    font-weight: 700;
}

.header span {
    color: #E6692F;
}

.aside {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15%;
    background:#E6692F;
}

.aside h1 {
    background-color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #E6692F;
    border-right: 1px solid #E6692F;
    text-align: center;
}

.aside ul {
    padding: 0;
}

.aside ul li {
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    height: 60px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 60px;
}

.aside ul li a {
    display: block;
    width: 100%;
    color: #0095BA;
    height: 100%;
    text-decoration: none;
}

.aside ul li a:hover {
    background: rgba(255, 255, 255, 0.6);
}

.aside ul li:first-child {
    margin-top: 30px;
}